#plomo{
    background-color: #61565b;
    border-color: aqua;
}
#plomito{
    background-color: #dbbbbb;
    border-color: aqua;
}
#plo{
    border-color: #6b5d5d;
}
#rosa{
    background-color: #f3c2da;

}